<div class="row">
	<div class="col-sm-6">
		<div 
			ngf-drop 
			ngf-select 
			ng-model="draggedFile" 
			class="drop-box" 
		    ngf-drag-over-class="'dragover'" 
		    ngf-multiple="true" 
		    ngf-allow-dir="true"
		    ngf-accept="acceptedFiles"
		    ngf-pattern="acceptedFiles">
		    	{{'UPLOAD_FILES_MESSAGE_DRAG_DROP' | translate}}
	    </div>
	    <div ngf-no-file-drop>
	    	{{'UPLOAD_FILES_MESSAGE_DRAG_DROP_ERROR' | translate}}
	    </div>
		<div class="text-right button-select-file">
	 		<div 
	 			class="btn btn-success" 
	 			ngf-select="upload($files)" 
	 			ngf-accept="acceptedFiles"
	 			ngf-pattern="acceptedFiles" 
	 			ngf-multiple="true">
	 			  <i class="fa fa-folder-open-o"></i>
	 				{{'UPLOAD_FILES_BUTTON' | translate}}
 				  <span class="progress" ng-show="f.progress >= 0">
						 <div 
						 	style="width:{{f.progress}}%" 
						 	ng-bind="f.progress + '%'">
						 </div>
				 	  </span>	
	 		</div>
	 	</div>
	</div>
	<div class="col-sm-6">
		 <div class="file-upload">
		    <label>Files:</label>
		    <div class="row" ng-repeat="f in files">
	       	 	<div class="col-sm-12">
	       	 		{{f.name}} {{f.$error}} {{f.$errorParam}}
		        	<a 
		        		class=" remove-file fa fa-times" 
		        		ng-click="removeFile(f)">
		        	</a>
	       	 	</div>
	 	    </div>
		 </div>
	</div>
</div>