<link rel="stylesheet" href="modules/spha/css/spha.css">
<div class="panel spha" ng-cloak ng-if="anagraphicHistoryData">
  	<div class="panel-header text-uppercase pb10">
  		<div class="row">
     		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        		<h4 
            		translate="{{ (readOnly ? 'ORPHAN_DETAIL' : 'ORPHAN_EDIT') | translate }}">
            	</h4>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="text-right" style="padding-right:15px;">
					<button type="button" class="btn btn-default" ng-click="orphanCtrl.goBack()">
						{{'BACK' | translate}}
					</button>
				</div>
			</div>
     	</div>
  	</div>
	<div class="panel-body">
		<div 
			ng-class="orphanCtrl.alertClass" 
			ng-show="orphanCtrl.message">
			<strong translate="{{orphanCtrl.message | translate}}"></strong> 
		</div>

		<div class="row">
			<div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 text-center">
				<label for="HISTORY"
						translate="{{'HISTORY' | translate}}">
				</label>
				<ul class="nav nav-pills nav-stacked">
					<li ng-repeat="item in anagraphicHistoryData"  ng-class="{'active' : $index==selectedIndex, 
					                                                          'hasBeenRectified': item.rectificationDetailInfoType === 'ADD' || 
					                                                                                item.rectificationDetailInfoType === 'ADD_AIC6'}" >
						<a href="" ng-click="changeSelectedEntry($index, true, true)" ng-if="!(item.rectificationDetailInfoType === 'hidden')">
							<span>{{item.key.date}}</span>
						</a>
					</li>
				</ul>	
			</div>
			<div class="col-xs-6 col-sm-9 col-md-10 col-lg-10" ng-style=" index!=-1 && { 'border':'1px solid #DDD', 'padding':'20px' }">
				<form ng-submit="orphanCtrl.saveForm(myForm)" ng-if= "selectedIndex>=0" xt-form role="form" name="myForm" >

					<div class="row">
						<div ng-if="selectedObject['medicineDescription'].toShow"
                             class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label 
                                    for="medicineDescription"
                                    translate="{{'detail.medicineDescription' | translate}}"> 
                            </label>
                            <custom-popover-spha custom-popover-text="{{'detail.medicineDescription' | translate}}"></custom-popover-spha>
                            <div class="form-group">
                                <input
                                    name="medicineDescription"
                                    id="medicineDescription"
                                    type="text"
                                    class="form-control"
                                    ng-model="selectedObject['medicineDescription'].value"
                                    ng-pattern="selectedObject['medicineDescription'].pattern"
                                    ng-disabled="readOnly || !selectedObject['medicineDescription'].editable"
                                    ng-class="addClass( 'medicineDescription', myForm )"
                                    ng-required="selectedObject['medicineDescription'].required ? true : false"/>
                                    <xt-validation-inline for="medicineDescription"></xt-validation-inline>		
                            </div>
						</div>
                        
						<div ng-if="selectedObject['boxDescription'].toShow"
                             class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
							<label 
									for="boxDescription"
									translate="{{'detail.boxDescription' | translate}}"> 
							</label>
							<custom-popover-spha custom-popover-text="{{'detail.boxDescription' | translate}}"></custom-popover-spha>
							<div class="form-group">
								<input
									name="boxDescription"
									id="boxDescription"
									type="text"
									class="form-control"
									ng-model="selectedObject['boxDescription'].value"
									ng-pattern="selectedObject['boxDescription'].pattern"
									ng-disabled="readOnly || !selectedObject['boxDescription'].editable"
									ng-class="addClass( 'boxDescription', myForm )"
									ng-required="selectedObject['boxDescription'].required ? true : false"/>
									<xt-validation-inline for="boxDescription"></xt-validation-inline>		
							</div>
						</div>
                        <div ng-if="anagraphicHistoryData[selectedIndex].rectificationDetailInfoType === 'ADD' ||
                                        anagraphicHistoryData[selectedIndex].rectificationDetailInfoType === 'ADD_AIC6'" 
                             class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label 
                                    for="validMarketing"
                                    translate="{{'detail.validMarketing' | translate}}">
                                    validMarketing 
                            </label>
                            <custom-popover-spha custom-popover-text="{{'detail.validMarketing' | translate}}"></custom-popover-spha>
                            <div class="input-group">
                                <input 
                                    uib-datepicker-popup="{{dateFormat}}" 
                                    type="text"
                                    class="form-control"
                                    id="validMarketing"
                                    name="validMarketing"
                                    is-open="datesOptions.validMarketing.opened"
                                    ng-disabled="readOnly || 
                                                        (!((anagraphicHistoryData[selectedIndex].rectificationDetailInfoType === 'ADD'
                                                         || anagraphicHistoryData[selectedIndex].rectificationDetailInfoType === 'ADD_AIC6')
                                                            && !selectedObject['validMarketing'].editable))"
                                    ng-model="selectedObject['validMarketing'].value"
                                    ng-model-options="{ timezone: 'UTC' }"
                                    ng-pattern="selectedObject['validMarketing'].pattern"
                                    ng-required="selectedObject['validMarketing'].required ? true : false"
                                    ng-class="addClass( 'validMarketing', myForm )"
                                    ng-change="orphanCtrl.onValidMarketingChange('validMarketing', selectedObject['validMarketing'].value, myForm)"
                                    msg-dateispresent="ERROR_DATE_IS_PRESENT"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" 
                                            ng-click="datesOptions.validMarketing.opened = !datesOptions.validMarketing.opened">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <xt-validation-inline for="validMarketing"></xt-validation-inline>
                        </div>
                    </div>
					<div class="row">
						<div ng-if="selectedObject['aic9'].toShow"
                             class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
							<label 
									for="aic9"
									translate="{{'detail.aic9' | translate}}"> 
							</label>
							<custom-popover-spha custom-popover-text="{{'detail.aic9' | translate}}"></custom-popover-spha>
							<div class="form-group">
								<input
									name="aic9"
									id="aic9"
									type="text"
									maxlength="9"
									class="form-control"
									ng-model="selectedObject['aic9'].value"
									ng-pattern="selectedObject['aic9'].pattern"
									ng-disabled="readOnly || !selectedObject['aic9'].editable"
									ng-class="addClass( 'aic9', myForm )"
									ng-required="selectedObject['aic9'].required ? true : false"/>
									<xt-validation-inline for="aic9"></xt-validation-inline>		
							</div>
						</div>
						<div ng-if="selectedObject['aic6'].toShow"
                             class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
							<label 
									for="aic6"
									translate="{{'detail.aic6' | translate}}"> 
							</label>
							<custom-popover-spha custom-popover-text="{{'detail.aic6' | translate}}"></custom-popover-spha>
							<div class="form-group">
								<input
									name="aic6"
									id="aic6"
									type="text"
									maxlength="9"
									class="form-control"
									ng-model="selectedObject['aic6'].value"
									ng-pattern="selectedObject['aic6'].pattern"
									ng-disabled="readOnly || !selectedObject['aic6'].editable"
									ng-class="addClass( 'aic6', myForm )"
									ng-required="selectedObject['aic6'].required ? true : false"/>
									<xt-validation-inline for="aic6"></xt-validation-inline>		
							</div>
						</div>
						<div ng-if="selectedObject['medicineCode'].toShow"
                             class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
							<label 
									for="medicineCode"
									translate="{{'detail.medicineCode' | translate}}"> 
							</label>
							<custom-popover-spha custom-popover-text="{{'detail.medicineCode' | translate}}"></custom-popover-spha>
							<div class="form-group">
								<input
									name="medicineCode"
									id="medicineCode"
									type="text"
									class="form-control"
									ng-model="selectedObject['medicineCode'].value"
									ng-pattern="selectedObject['medicineCode'].pattern"
									ng-disabled="readOnly || !selectedObject['medicineCode'].editable"
									ng-class="addClass( 'medicineCode', myForm )"
									ng-required="selectedObject['medicineCode'].required ? true : false"/>
									<xt-validation-inline for="medicineCode"></xt-validation-inline>		
							</div>
						</div>
					</div>
					<div class="row">
						<div ng-if="selectedObject['therapeuticIndications'] != null && selectedObject['therapeuticIndications'].toShow"
                             class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<label 
									for="therapeuticIndications"
									translate="{{'detail.therapeuticIndications' | translate}}">
							</label>
							<custom-popover-spha custom-popover-text="{{'detail.therapeuticIndications' | translate}}"></custom-popover-spha>
							<uib-accordion>
							   <div uib-accordion-group class="panel-default" is-open="status" ng-repeat="obj in selectedObject['therapeuticIndications'].value" >
									<div uib-accordion-heading>
									   <div id="therapeuticIndication"> 
									   	<span>{{'detail.therapeuticIndication'| translate}} {{$index + 1}}
									    </span>
										   <div class="pull-right">  
												 <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status, 'glyphicon-chevron-right': !status}"></i>
										   </div>
										</div>
								   </div>
								   <therapeutic
											   ng-if="status"
											   data="obj"
											   index="$index"
											   disabled="disabled"
											   form="myForm">
								   </therapeutic>
							   </div>
						   </uib-accordion>
						</div>
					</div>
                    <br/>
                    <div class = "text-right" ng-if="!readOnly && actions['EDIT'] && !(anagraphicHistoryData[selectedIndex].rectificationDetailInfoType === 'hidden')">
                        <button type="button" class="btn btn-primary" ng-disabled="!actions['EDIT'] || !enableAdd" ng-click="orphanCtrl.addRectifiedObject()">
                            {{'ADD' | translate}}
                        </button>
                        <button type="button" class="btn btn-primary" ng-disabled="!actions['EDIT']"  ng-click="orphanCtrl.resetForm(myForm, true, true)">
                            {{'RESET' | translate}}
                        </button>
                        <button type="button" class="btn btn-primary hidden" ng-disabled="!actions['EDIT']"  ng-click="orphanCtrl.deleteRectificationDetail(myForm)">
                            {{'CLEAR' | translate}}
                        </button>
                        <button type="submit" class="btn btn-primary" id="save-rectification-button" ng-disabled="!actions['EDIT'] || !myForm.$valid">
                            {{'SAVE' | translate}}
                        </button>
                    </div>
                    <br/>
				</form>
				<div class = "text-right">
					<button type="button"
		                       class="btn btn-default"
		                       ng-click="orphanCtrl.goToTop()"
		                       translate="{{'GO_TO_TOP' | translate}}">
		        	</button>
					<button type="button" class="btn btn-default" ng-click="orphanCtrl.goBack()">
						{{'BACK' | translate}}
					</button>
				</div>
			</div>
		</div>
	</div>
</div> 
