/** **/
/** SASS generated file. Don't edit. **/
/** **/
.fet-wizard-item .panel-body { min-height: 200px; }
.fet-wizard-item .panel-body fieldset { margin-top: 20px; }
.fet-wizard-item .panel-body fieldset legend { font-size: 120%; margin-bottom: 5px; }
.fet-wizard-item .panel-body fieldset > ul > li { margin-left: 15px; word-break: break-all; word-wrap: break-word; }
