<link rel="stylesheet" href="modules/spha/css/spha.css">
<div class="panel spha" ng-cloak ng-if="gsdbdfCtrl.anagraphicTable">
    <div class="panel-header text-uppercase pb10">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h4 translate="{{'GSDBDF_SEARCH' | translate }}">
                </h4>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="text-right" style="padding-right:15px;">
					<button type="button" class="btn btn-default" ng-click="gsdbdfCtrl.goBack()">
						{{'BACK' | translate}}
					</button>
				</div>
			</div>
        </div>
    </div>

    <div class="panel-body">
        <div class="panel-body-section">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div ng-class="gsdbdfCtrl.alertClass" ng-show="gsdbdfCtrl.message">
                        <strong translate="{{gsdbdfCtrl.message | translate}}"></strong>
                    </div>
                    <form xt-form role="form" name="filtersForm">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="GSDBDF" translate="{{'GSDBDF'| translate}}">GSDBDF</label>
                                <custom-popover-spha custom-popover-text="{{'GSDBDF' | translate}}"></custom-popover-spha>
                                <div class="form-group" ng-class="addClass( 'GSDBDF', filtersForm  )">
                                    <div style="height:0px;">
                                        <input style="opacity: 0;"
                                               class="form-control" 
                                               id="GSDBDF"
                                               name="GSDBDF" 
                                               ng-model="gsdbdfCtrl.gsdbdf" 
                                               ng-required="true" />
                                    </div>
                                    <ui-select multiple id="select-gsdbdf" ng-model="gsdbdfCtrl.gsdbdf">
                                        <ui-select-match allow-clear="true" placeholder="{{'GSDBDF'| translate}}">
                                            <span>{{$item.label != null ? $item.label : $item.value}}</span>
                                        </ui-select-match>
                                        <ui-select-choices 
                                                refresh = "getGsdbdfPossibleValues(0, $select.search, filtersForm )" 
                                                refresh-delay ="500"
                                                repeat="option.value as option in filters.gsdbdf.elements | filter: $select.search track by $index">
                                            <div>
												<span>{{option.label != null ? option.label : option.value}}</span>
											</div>
                                            <div ng-if="$index == $select.items.length-1 && $index < filters.gsdbdf.total-1">
                                                <button 
                                                  class="btn btn-xs btn-success" 
                                                  style="width: 100%; margin-top: 5px;" 
                                                  ng-mouseover="getGsdbdfPossibleValues( filters.gsdbdf.page + 1, $select.search, filtersForm)">
                                                    {{'SHOW_OTHER' | translate}}
                                                </button> 
                                            </div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <xt-validation-inline for="GSDBDF"></xt-validation-inline>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-body-section" ng-if="gsdbdfCtrl.showData">
            <form ng-if="gsdbdfCtrl.rowForRectification"
                  ng-submit="gsdbdfCtrl.saveRectification(gsdBdfRectificationForm)"
                  xt-form 
                  role="form"
                  name="gsdBdfRectificationForm">
                <h3>{{'GSDBDF' | translate}} ({{gsdbdfCtrl.rowForRectification.groupDescription}})
                    {{ (gsdbdfCtrl.rowForRectification.rectificationDetailInfoType + '_SISA' ) | translate}} 
                </h3>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <label for="gsdbdfSisForRectification">{{'SISRSG'| translate}} </label>
                            <input class="form-control"
                                   id="gsdbdfSisForRectification"
                                   name="gsdbdfSisForRectification"
                                   ng-required="true"
                                   ng-value="gsdbdfCtrl.rowForRectification.gsdbdfSis"
                                   disabled/>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-9 col-lg-9">
                        <label for="companyForRectification" translate="{{'RSA'| translate}}">COMPANY</label>
                        <div class="form-group"
                             ng-class="addClass( 'companyForRectification', gsdBdfRectificationForm)">
                            <div style="height:0px;">
                                <input style="opacity: 0;"
                                       class="form-control"
                                       id="companyForRectification"
                                       name="companyForRectification"
                                       ng-model="gsdbdfCtrl.companyForRectification"
                                       ng-required="true"/>
                            </div>
                            <ui-select ng-if="gsdbdfCtrl.rowForRectification.rectificationDetailInfoType === 'ADD'" 
                                       multiple 
                                       id="select-companyForRectification-ADD"
                                       ng-model="gsdbdfCtrl.companyForRectification"
                                       ng-required="true">
                                <ui-select-match allow-clear="true" placeholder="{{'COMPANY'| translate}}">
                                    <span>{{$item.label ? $item.label : $item.value}}</span>
                                </ui-select-match>
                                <ui-select-choices
                                        refresh="getCompaniesPossibleValues(0, $select.search )"
                                        refresh-delay="500"
                                        repeat="option.value as option in filtersForRectification.companies.elements | filter: $select.search track by $index">
                                    <div>
                                        <span>{{option.label != null ? option.label : option.value }}</span>
                                    </div>
                                    <div ng-if="$index == $select.items.length-1 && $index < filtersForRectification.companies.total-1">
                                        <button
                                                id="show-other-ADD"
                                                class="btn btn-xs btn-success"
                                                style="width: 100%; margin-top: 5px;"
                                                ng-mouseover="getCompaniesPossibleValues( filtersForRectification.companies.page + 1, $select.search, rowForRectification )">
                                            {{'SHOW_OTHER' | translate}}
                                        </button>
                                    </div>
                                </ui-select-choices>
                            </ui-select>
                            <ui-select ng-if="gsdbdfCtrl.rowForRectification.rectificationDetailInfoType === 'DEL'" 
                                       multiple 
                                       id="select-gsdbdfForRectification-DEL"
                                       ng-model="gsdbdfCtrl.companyForRectification"
                                       ng-required="true">
                                <ui-select-match allow-clear="true" placeholder="{{'COMPANY'| translate}}">
                                    <span>{{ $item.moreInfo ? $item.moreInfo.companyDescription :
                                        ($item.label ? $item.label : $item.value)}}</span>
                                </ui-select-match>
                                <ui-select-choices
                                        refresh="getGsdbdfPossibleValuesRectification(0, $select.search )"
                                        refresh-delay="500"
                                        repeat="option.moreInfo as option in filtersForRectification.gsdbdf.elements | filter: $select.search track by $index">
                                    <div>
                                        <span>{{option.moreInfo ? option.moreInfo.companyDescription :
                                                (option.label != null ? option.label : option.value)}}</span>
                                    </div>
                                    <div ng-if="$index == $select.items.length-1 && $index < filtersForRectification.gsdbdf.total-1">
                                        <button
                                                id="show-other-DEL"
                                                class="btn btn-xs btn-success"
                                                style="width: 100%; margin-top: 5px;"
                                                ng-mouseover="getGsdbdfPossibleValuesRectification( filtersForRectification.gsdbdf.page + 1, $select.search, rowForRectification )">
                                            {{'SHOW_OTHER' | translate}}
                                        </button>
                                    </div>
                                </ui-select-choices>
                            </ui-select>
                            <xt-validation-inline for="companyForRectification"></xt-validation-inline>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">
                        {{'SAVE' | translate}}
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="gsdbdfCtrl.discard(gsdBdfRectificationForm)">
                        {{'DISCARD' | translate}}
                    </button>
                </div>
            </form>
            <br/>
            
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive">
                    <table ng-table="gsdbdfCtrl.anagraphicTable" class="table table-bordered">
                        <tr id="rows" role="row" ng-hide="gsdbdfCtrl.isLoading" ng-init="gsdbdfCtrl.isCollapsed[$index] = true;" ng-repeat="row in $data">
                            <!-- Abilitare se si prevede la debugMode
							<td
									class="col-xs-12 col-sm-12 col-md-1 col-lg-1"
									data-title="'ID' | translate"
									ng-if="debugMode"
									sortable="'id'">
								<div class="text-center">
									{{row.id}}
								</div>
							</td>-->
                            <td class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center" data-title="'SISRSG' | translate" ng-init="gsdbdfCtrl.isCollapsed[$index] = true" ng-class="{'tableDataTitleCollapseIn': gsdbdfCtrl.isCollapsed[$index] && row.groupDescription.length > 150, 'tableDataTitleCollapseOut': !gsdbdfCtrl.isCollapsed[$index] && row.groupDescription.length > 150 }"
                                sortable="'groupDescription'">
                                {{row.gsdbdfSis + ' - ' + row.groupDescription}}
                                <div class="text-center">
                                    <span ng-click="gsdbdfCtrl.isCollapsed[$index] = !gsdbdfCtrl.isCollapsed[$index]" 
                                          ng-if="row.groupDescription.length > 150" 
                                          style="cursor: pointer;" class="glyphicon"
                                          title="{{ (gsdbdfCtrl.isCollapsed[$index] ? 'SHOW_OTHER' : 'SHOW_LESS') | translate}}"
                                        ng-class="{
												'glyphicon-chevron-down': gsdbdfCtrl.isCollapsed[$index],
												'glyphicon-chevron-up': !gsdbdfCtrl.isCollapsed[$index]
											}">
										</span>
                                </div>
                            </td>
                            <td class="col-xs-12 col-sm-6 col-md-2 col-lg-2" data-title="'SISA' | translate" sortable="'companySis'">
                                <div class="text-center">
                                    <img ng-if="actions && actions.RECTIFICATION_VIEW_DETAIL && row.rectificationDetailInfo.type"
                                         ng-src="modules/spha/icons/{{gsdbdfCtrl.rectificationDetailInfoTypeIconsUrl[row.rectificationDetailInfo.type]}}"
                                         width="25" height="25"
                                         alt="{{row.rectificationDetailInfo.type}}">
                                    <a title="{{'SISA' | translate}}" href="">
										{{row.companySis}}
									</a>
                                </div>
                            </td>
                            <td class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center" data-title="'RSA' | translate"
                                ng-init="gsdbdfCtrl.isCollapsed[$index] = true"
                                ng-class="{'tableDataTitleCollapseIn': gsdbdfCtrl.isCollapsed[$index] && row.companyDescription.length > 150, 'tableDataTitleCollapseOut': !gsdbdfCtrl.isCollapsed[$index] && row.companyDescription.length > 150 }"
                                sortable="'companyDescription'">
                                {{row.companyDescription}}
                                <div class="text-center">
                                    <span ng-click="gsdbdfCtrl.isCollapsed[$index] = !gsdbdfCtrl.isCollapsed[$index]" 
                                          ng-if="row.companyDescription.length > 150" 
                                          style="cursor: pointer;" 
                                          class="glyphicon" title="{{ (gsdbdfCtrl.isCollapsed[$index] ? 'SHOW_OTHER' : 'SHOW_LESS') | translate}}"
                                        ng-class="{
												'glyphicon-chevron-down': gsdbdfCtrl.isCollapsed[$index],
												'glyphicon-chevron-up': !gsdbdfCtrl.isCollapsed[$index]
											}">
										</span>
                                </div>
                            </td>
                            <td ng-if="actions.EDIT" class="col-xs-12 col-sm-3 col-md-1 col-lg-1" class="datesTable" data-title="'ACTIONS' | translate">
                                <div class="text-center">
                                    <ng-table-operations actions="row.actions"/>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="gsdbdfCtrl.isLoading">
                            <td colspan="{{$columns.length}}">
                                <div id="loadingSpinnerRow">
                                    <div class="text-center" id="loading-bar-spinner"><img
                                            src="modules/spha/images/loading.gif" alt=""></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
			<br/>
			<div class = "text-right">
                <button type="button" class="btn btn-primary" ng-disabled="!actions['SUBMIT']" ng-click="gsdbdfCtrl.submit()" >
					{{'SUBMIT' | translate}}
                </button>
                <div class="btn-group">
		   			 <a 
	  					href=""
	  					class="btn btn-primary"
						ng-disabled="filtersForm.$invalid || !actions['EXPORT']"
						title="{{'EXPORT'| translate}}"
						translate="{{'EXPORT'| translate}}">
					</a>
					<button 
						ng-disabled="filtersForm.$invalid || !actions['EXPORT']"
						type="button" 
						class="btn btn-primary dropdown-toggle" 
						title=""
						data-toggle="dropdown" 
						aria-haspopup="true" 
						aria-expanded="false">
								<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
					</button>
				    <ul class="dropdown-menu">
			   			<li  ng-repeat="exportType in exportTypes">
			   				<a 
			   					class="text-center"
					    		href=""
					    		ng-click="gsdbdfCtrl.switchExportType(filtersForm,exportType.value)"
					    		title="{{exportType.label | translate}}" 
					    		> 
					    		<span translate="{{exportType.label | translate}}"></span>
					    		<img ng-src="{{ exportType.value == 0 ? 'modules/spha/images/file/excel.png' : 'modules/spha/images/file/pdf.png' }}" width="25" height="25">
					    	</a>
			   			</li>
					</ul>
				</div>
			</div>
			<br/>
			<div class = "text-right">
			    <button type="button"
                       class="btn btn-default"
                       ng-click="gsdbdfCtrl.goToTop()"
                       translate="{{'GO_TO_TOP' | translate}}">
        		</button>
				<button type="button" class="btn btn-default"  id="back-button-bottom" ng-click="gsdbdfCtrl.goBack()">
					{{'BACK' | translate}}
                </button>
             </div>
        </div>
    </div>
</div>
