<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: -15px;">
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="innovativeCtrl.accordionMoreInfo">
                <div uib-accordion-heading>
                    {{'MORE_INFO' | translate}}
                    <custom-popover-spha custom-popover-text="{{'MORE_INFO' | translate}}"></custom-popover-spha>
                    <div class="pull-right">
                        <i class="glyphicon"
                           ng-class="{'glyphicon-chevron-down': innovativeCtrl.accordionMoreInfo, 'glyphicon-chevron-right': !innovativeCtrl.accordionMoreInfo}"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                        <label translate="{{'TRANSPARENCY'| translate}}"></label>
                        <custom-popover-spha custom-popover-text="{{'TRANSPARENCY' | translate}}"></custom-popover-spha>
                        <div class="form-group">
                            <ui-select ng-model="innovativeCtrl.transparency">
                                <ui-select-match allow-clear="true">
                                    <span translate="{{$select.selected.label | translate}}"></span>
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="option.value as option in filters.transparency | filter: $select.search track by $index">
                                    <div>
                                        <span translate="{{option.label | translate}}"></span>
                                    </div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                        <label translate="{{'ORPHAN'| translate}}"></label>
                        <custom-popover-spha custom-popover-text="{{'ORPHAN' | translate}}"></custom-popover-spha>
                        <div class="form-group">
                            <ui-select ng-model="innovativeCtrl.orphan">
                                <ui-select-match allow-clear="true">
                                    <span translate="{{$select.selected.label | translate}}"></span>
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="option.value as option in filters.orphan | filter: $select.search track by $index">
                                    <div>
                                        <span translate="{{option.label | translate}}"></span>
                                    </div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                        <label translate="{{'PATENTED'| translate}}"></label>
                        <custom-popover-spha custom-popover-text="{{'PATENTED' | translate}}"></custom-popover-spha>
                        <div class="form-group">
                            <ui-select ng-model="innovativeCtrl.patented">
                                <ui-select-match allow-clear="true">
                                    <span translate="{{$select.selected.label | translate}}"></span>
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="option.value as option in filters.patented | filter: $select.search track by $index">
                                    <div>
                                        <span translate="{{option.label | translate}}"></span>
                                    </div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
        </uib-accordion>
    </div>
</div>
