<label for="{{filterElem.code}}" translate="{{filterElem.code| translate}}">{{filterElem.code}}</label>
<custom-popover-spha custom-popover-text="{{filterElem.code | translate}}"></custom-popover-spha>
<div class="form-group">
    <div style="height:0px;">
        <input style="opacity: 0;"
               class="form-control"
               id="{{filterElem.code}}"
               name="{{filterElem.code}}"
               ng-model="data[filterElem.ngModelName]"/>
    </div>
    <ui-select multiple ng-model="data[filterElem.ngModelName]">
        <ui-select-match allow-clear="true" placeholder="{{filterElem.code| translate}}">
            <span>{{$item.label != null ? $item.label : $item.value}}</span>
        </ui-select-match>
        <ui-select-choices
                refresh="getPossibleValues( 0, 'atc', $select.search )"
                refresh-delay="500"
                repeat="option.value as option in filters.atc.elements | filter: $select.search track by $index">
            <div>
                <span>{{option.label != null ? option.label : option.value}}</span>
            </div>

            <div ng-if="$index == $select.items.length-1 && $index < filters.atc.total-1">
                <button
                        class="btn btn-xs btn-success"
                        style="width: 100%; margin-top: 5px;"
                        ng-mouseover="getPossibleValues( filters.atc.page + 1, 'atc', $select.search )">
                    {{'SHOW_OTHER' | translate}}
                </button>
            </div>
        </ui-select-choices>
    </ui-select>
</div>
