<link rel="stylesheet" href="modules/spha/css/spha.css">
<div class="panel spha" ng-cloak ng-if="ctrl.procedimentiTable">
  	<div class="panel-header text-uppercase pb10">
  		<div class="row">
     		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        		<h4 
        			translate="{{'PROCEDIMENTI_REPORT' | translate }}">
            	</h4>
        	</div>
        	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="text-right" style="padding-right:15px;">
					<button type="button" class="btn btn-default"  id="back-button-top" ng-click="ctrl.goBack()">
						{{'BACK' | translate}}
					</button>
				</div>
			</div>
     	</div>
  	</div>

	<div class="panel-body">
		<div class="panel-body-section">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div ng-class="ctrl.alertClass" ng-show="ctrl.message">
						<strong translate="{{ctrl.message | translate}}"></strong>
					</div>
					<form ng-submit="ctrl.submitSearch()">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
								<label translate="{{'TYPE_PROCEDIMENTI'| translate}}"></label>
								<div class="form-group">
									<ui-select ng-model="ctrl.typeProcedimenti" 
											ng-change="ctrl.onTypeChange()"
											ng-disabled="!ownerTypesProcedimenti || ownerTypesProcedimenti.length<2">
										<ui-select-match>
											<span translate="{{$select.selected| translate}}"></span>
										</ui-select-match>
										<ui-select-choices repeat="item as item in ownerTypesProcedimenti">
											<div>
												<span translate="{{item| translate}}"></span>
											</div>
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		                        <label for="PROCEDURES" translate="{{'PROCEDURES'| translate}}">PROCEDURES</label>
		                        <custom-popover-spha custom-popover-text="{{'PROCEDURES' | translate}}"></custom-popover-spha>
		                        <div class="form-group" >
		                            <div style="height:0px;">
		                                <input style="opacity: 0;"
		                                       class="form-control"
		                                       id="PROCEDURES"
		                                       name="PROCEDURES"
		                                       ng-model="ctrl.procedure"
		                                       ng-required="!(ctrl.companies != null || ctrl.procedure != null)"/>
		                            </div>
		                            <ui-select id="select-procedure" ng-model="ctrl.procedure">
		                                <ui-select-match allow-clear="true" placeholder="{{'PROCEDURES'| translate}}">
		                                    <span>{{$select.selected.description != null ? $select.selected.description : $select.selected.id}}
		                                    </span>
		                                </ui-select-match>
		                                <ui-select-choices
		                                        refresh="getProceduresPossibleValues(0, $select.search )"
		                                        refresh-delay="500"
		                                        repeat="option.id as option in filters.procedures.elements | filter: $select.search track by $index">
		                                    <div>
		                                        <span>{{option.description != null ? option.description : option.id}}</span>
		                                    </div>
		                                    <div ng-if="$index == $select.items.length-1 && $index < filters.procedures.total-1">
		                                        <button
		                                                class="btn btn-xs btn-success"
		                                                style="width: 100%; margin-top: 5px;"
		                                                ng-mouseover="getProceduresPossibleValues( filters.procedures.page + 1, $select.search)">
		                                            {{'SHOW_OTHER' | translate}}
		                                        </button>
		                                    </div>
		                                </ui-select-choices>
		                            </ui-select>
		                        </div>
		                    </div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		                        <label for="COMPANIES" translate="{{'COMPANIES'| translate}}">COMPANIES</label>
		                        <custom-popover-spha custom-popover-text="{{'COMPANIES_TOOLTIP' | translate}}"></custom-popover-spha>
		                        <div class="form-group" >
		                            <div style="height:0px;">
		                                <input style="opacity: 0;"
		                                       class="form-control"
		                                       id="COMPANIES"
		                                       name="COMPANIES"
		                                       ng-model="ctrl.companies"
		                                       ng-required="!(ctrl.companies != null || ctrl.procedure != null)"/>
		                            </div>
		                            <ui-select multiple id="select-company" ng-model="ctrl.companies">
		                                <ui-select-match allow-clear="true" placeholder="{{'COMPANIES'| translate}}">
											<span>{{$item.label != null ? $item.value + ' - ' +  $item.label : $item.value}}</span>
		                                </ui-select-match>
		                                <ui-select-choices
		                                        refresh="getCompaniesPossibleValues(0, $select.search )"
		                                        refresh-delay="500"
		                                        repeat="option.value as option in filters.companies.elements | filter: $select.search track by $index">
		                                    <div>
		                                        <span>{{option.label != null ? option.value + ' - ' +  option.label : option.value}}</span>
		                                    </div>
		                                    <div ng-if="$index == $select.items.length-1 && $index < filters.companies.total-1">
		                                        <button
		                                                class="btn btn-xs btn-success"
		                                                style="width: 100%; margin-top: 5px;"
		                                                ng-mouseover="getCompaniesPossibleValues( filters.companies.page + 1, $select.search)">
		                                            {{'SHOW_OTHER' | translate}}
		                                        </button>
		                                    </div>
		                                </ui-select-choices>
		                            </ui-select>
		                        </div>
		                    </div>
						</div>
						<br/>
						<div class="text-right">
							<button type="submit"
									class="btn btn-primary"
									id="search-button"
									ng-disabled="!(ctrl.companies != null || ctrl.procedure != null)"
									translate="{{'SEARCH' | translate}}">
							</button>
						</div>
						<br/>
					</form>
				</div>
			</div>
		</div>
	<div class="panel-body-section">
        	<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table table-responsive">
					<table	id ="anagraphic-procedure-table"
							ng-table="ctrl.procedimentiTable"
							class="table table-bordered">
							
						<tr role="row"
							ng-hide="ctrl.isLoading"
							ng-init="ctrl.isCollapsed[$index] = true;"
							ng-repeat="row in $data" id="rows">
							<td
									id="PROCEDURE"
									class="col-xs-12 col-sm-12 col-md-4 col-lg-4 titleTableProcedimenti"
									data-title="'PROCEDURE' | translate"
									ng-init = "ctrl.isCollapsed[$index] = true"
									ng-class="{'tableDataTitleCollapseIn': ctrl.isCollapsed[$index] && row.description.length > 150, 'tableDataTitleCollapseOut': !ctrl.isCollapsed[$index] && row.description.length > 150 }"
									sortable="'procedure.description'">
								{{ row.procedure.description }}
								<div class="text-center">
				  	    					<span
													ng-click="ctrl.isCollapsed[$index] = !ctrl.isCollapsed[$index]"
													ng-if="row.description.length > 150"
													style="cursor: pointer;"
													class="glyphicon"
													title="{{ (ctrl.isCollapsed[$index] ? 'SHOW_OTHER' : 'SHOW_LESS') | translate}}"
													ng-class="{
										          'glyphicon-chevron-down': ctrl.isCollapsed[$index],
										          'glyphicon-chevron-up': !ctrl.isCollapsed[$index]
										        }">
											</span>
								</div>
							</td>
							<td
									class="col-xs-12 col-sm-12 col-md-1 col-lg-1 "									
									sortable="'status'"
									data-title="'STATUS' | translate">
								<div class="text-center">
									<a title="{{'STATUS' | translate}}" href="" >
									
									<span ng-if="row.procedure.phase == 2" class="glyphicon glyphicon-warning-sign"
                                  			ng-style="{color: statusColor(row.statusInstance, row.procedure.phase)}"></span>                            
										{{ statusLabel(row.statusInstance, row.procedure.phase) | translate }}
									</a>
								</div>
							</td>
							<td		sortable="'company'"
									class="col-xs-12 col-sm-12 col-md-1 col-lg-1 "		
									data-title="'COMPANY_CODE' | translate">
								<div class="text-center">
									<a title="{{'COMPANY_CODE' | translate}}" href="" >
										{{ row.companyCode }}
									</a>
								</div>
							</td>
							<td		
									class="col-xs-12 col-sm-12 col-md-2 col-lg-2 "	
									data-title="'COMPANY_NAME' | translate">
								<div class="text-center">
									<a title="{{'COMPANY_NAME' | translate}}" href="" >
										{{ row.companyName }}
									</a>
								</div>
							</td>
							<td		
									class="col-xs-12 col-sm-12 col-md-1 col-lg-1 "
									data-title="'PMI' | translate">
								<div class="text-center">
									<a title="{{'PMI' | translate}}" href="">
										{{ row.pmi ? ('YES' | translate) : ('NO' | translate)}}
									</a>
								</div>
							</td>
							<td		
									class="col-xs-12 col-sm-12 col-md-1 col-lg-1 "
									data-title="'AP' | translate">
								<div class="text-center">
									<a title="{{'AP' | translate}}" href=""> 
										{{ row.ap ? ('YES' | translate) : ('NO' | translate)}}
									</a>
								</div>
							</td>

							<td
								class="col-xs-12 col-sm-12 col-md-2 col-lg-2"
								data-title="'ACTIONS' | translate">
                                <div class="text-center">
                                    <ng-table-operations actions="row.actions"/>
                                </div>
							</td>
						</tr>
						<tr ng-show="ctrl.isLoading">
							<td colspan="8">
								<div id="loadingSpinnerRow"></div>
							</td>
						</tr>
						
					</table>
			</div>		
		</div>
		<div class = "text-right">
			<button type="button"
					class="btn btn-primary"
					id="export-button"
					ng-disabled="!(ctrl.companies != null || ctrl.procedure != null)"
					ng-click = "ctrl.export()"
					translate="{{'EXPORT' | translate}}">
			</button>
			<button type="button"
					class="btn btn-primary"
					id="reset-button"
					ng-click = "ctrl.reset()"
					translate="{{'RESET' | translate}}">
			</button>
		</div>
		<br/>
		<br/>
		<div class = "text-right">
			<button type="button"
					   id="top-button"
                       class="btn btn-default"
                       ng-click="ctrl.goToTop()"
                       translate="{{'GO_TO_TOP' | translate}}">
        	</button>
			<button type="button" class="btn btn-default" id="back-button-bottom" ng-click="ctrl.goBack()">
				{{'BACK' | translate}}
               </button>
		</div>

		</div>
	</div>
</div>
