<a id="head"></a>
<link rel="stylesheet" href="modules/spha/css/spha.css">
<div class="panel spha" ng-cloak ng-if="procedureCtrl">
	<div class="panel-header text-uppercase pb10">
		<div class="row">
		  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			  <h4 ng-if="!procedureCtrl.startNewPhase"
				translate="{{'EDIT_PROCEDURE' | translate}}">
				</h4>
				<h4 ng-if="procedureCtrl.startNewPhase"
					translate="{{'NEW_PROCEDURE' | translate}}">
				</h4>
		  </div>
		  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="text-right" style="padding-right:15px;">
					<button type="button" class="btn btn-default" id="back-button-top" ng-click="procedureCtrl.goBack()">
						{{'BACK' | translate}}
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="panel-body-section">
			<div ng-class="procedureCtrl.alertClass" ng-show="procedureCtrl.message">
				<strong>{{procedureCtrl.message | translate}}</strong>
			</div>
		<form xt-form ng-submit="procedureCtrl.submitForm(editProcedureForm)" name="editProcedureForm" novalidate>
			<spha-procedure ng-if="procedureCtrl.data && !procedureCtrl.isLoadingPhase2"
                start-new-phase="procedureCtrl.startNewPhase"
				data="procedureCtrl.data"
				form="editProcedureForm"
				read-only="false">
			</spha-procedure>
			<br/>
			<div class="text-right">
				<button type="button"
					class="btn btn-primary text-uppercase"
					id="toggle-button-suspend"
					ng-if="procedureCtrl.canSuspend(editProcedureForm)"
					translate="{{'SUSPEND' | translate}}"
					ng-click="procedureCtrl.onSuspend()"
					ng-disabled="!procedureCtrl.canSuspend(editProcedureForm)">
				</button>			
				<button type="button"
					class="btn btn-primary text-uppercase"
					id="toggle-button"
					ng-if="procedureCtrl.canActivate(editProcedureForm)"
					translate="{{'ACTIVATE' | translate}}"
					ng-click="procedureCtrl.onActivate()"
					ng-disabled="!procedureCtrl.canActivate(editProcedureForm)">
				</button>	
				<button type="button"
						class="btn btn-primary text-uppercase"
						id="toggle-button"
						translate="{{'CLOSE' | translate}}"
						ng-click="procedureCtrl.onClose()"
						ng-disabled="!procedureCtrl.canClose(editProcedureForm)">
				</button>
				<button type="submit"
						class="btn btn-primary text-uppercase"
						id="save-button"
						translate="{{'SAVE' | translate}}"
						ng-disabled="editProcedureForm.$invalid">
				</button>
			</div>
			<br/>
		</form>
		<br/>
		<div class = "text-right">
			<button type="button"
                    class="btn btn-default"
                    ng-click="procedureCtrl.goToTop()"
                    translate="{{'GO_TO_TOP' | translate}}"
                    id="top-button">
        	</button>
			<button type="button" class="btn btn-default" id="back-button-bottom" ng-click="procedureCtrl.goBack()">
				{{'BACK' | translate}}
               </button>
		</div>
	</div>
</div>